*{
    padding: 0;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.container{
    display: flex;
}

.login_container{
    width: 33.33333%;
    height: 100vh;
   
}
.login_divs{
    width: 100%;
    margin: 16px 0;
    padding: 0 56px;
    
}
.image1{
    width: 112px;
    margin-top: 24px;
}
.main_login{
    width:400px;
    margin: 100px 0;
    
}
#h1{
    font-style: normal;
    font-weight: bold;
    line-height: 44px;
    font-size: 32px;
    margin-bottom: 50px;
    color: #3D3D3D;

}
.input_fields{
    width: 100%;
    height: 48px;
    padding: 0 16px;
    border-radius: 4px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #b8b8b8;
    font-size: 14px;
    font-weight: 400;
}
#login{
    background-color:#2C4BFF;
    color: white;
}
.options{
    display: flex;
    justify-content:space-between;

}
#a{
    text-decoration: none;
    color:#636363;
    font-weight: 700;
    font-size: 14px;
}
.text{
    padding: 2rem 0;
    text-align: center;
    font-weight:500;
    
    color: #636363;
    font-size: 14px;

}
#last{
    width: 400px;
    text-align: center;
    margin:16px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
#b{
    text-decoration: none;
    font-weight: 500;
    color: #636363;
    font-size: 14px;
}









.other_container{
    width: 66.666666%;
   
    background-color: #fade2a;
    padding-top: 8%;
}
.innerdiv{
    padding-left: 10%;
}
.child{
    width: 125px;
    height: 24px;
    padding: 4px 8px;
    border-radius: 17px;
    background-color: #ffffff;
    margin-bottom: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    color: #645911;
}
.innerdiv>h2{
        display: block;
        font-size: 40px;
        font-weight: 700;
        font-style: normal;
        line-height: 46px;
        text-align: left;
        margin-bottom: 20px;
        color: #232323;
        max-width: 400px;
        
}
.innerdiv>p{
    max-width: 400px;
    margin-bottom: 24px;
    font-size: 18px;
    font-weight: 400;
        line-height: 23px;
        color: #3d3d3d;
}
.main_image{
    max-width   : 100%;
    max-height: 65%;
    position: absolute;
    bottom: 0;
    right: 0;
}