#navbar>.logo>img{
    width: 130px;
}
.logo{
    height: 100%;
    display: flex;
    align-items: center;
}
.logo>span{
    padding:0 10px;
    margin-bottom: 2px;
}
.logo>a{
    
    font-size: .9rem;
    font-weight:bold;
   
}
#ul{
    display: flex;
    align-items: center;
    list-style: none;
    width: 590px;
    justify-content: space-between  ;
    margin-right:0px;
    
    
}

#ul span{
   font-size: 16px; 
    transform: rotate(180deg);
}

#start{
    
    padding: 12px 25px;
    margin-left: 30px;
    border-radius: 5px;
    background-color:#2C4BFF;
    border: none;
}
#start:hover{
    background-color: #1d3adc;
}
#start>a{
    color: white;
    font-size: 1.2rem;
}
#show_category{
    background-color: transparent;
    font-size: 18px;
    border: none;
}
#show_category:hover #arrow{
transform: rotate(180deg);
}